<div class="signup-wrap">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <!-- This allows to user to edit their status "renter" or "owner-->
  <div class="field">
    <%= f.label :user_type %><br>
    <% if current_user.user_type == "Owner" %>
      <%= f.select :user_type, ['Owner', 'Renter'] %>
    <% else %>
      <%= f.select :user_type, ['Renter', 'Owner'] %>
    <% end %>
  </div>
  <!-- This allows you to edit your password -->
  <div class="field">
    <%= f.label :password %> </br><i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <!-- This allows you to edit your confirmation completion -->
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <!-- This adds paperclip to our edit form -->
</br>
  <div class="field">
      <%= f.label :avatar %>
</br>

      <div class="col-sm-6">
          <%= f.file_field :avatar %>
      </div>
  </div>
  </br>
  <!-- Put in current password to accept changes  -->
  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <!-- Submit action -->
  <div class="actions">
    <%= f.submit "Update" %>
  </div>

  <!-- <%# button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> -->

  <% end %>
</div>
