<!-- this is the form for adding a new dog to the db -->

<%= form_for @pet, html: {multipart: true} do |f| %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :breed %><br>
  <%= f.text_field :breed %>
</div>
<div class="field">
  <%= f.label :size %><br>
  <%= f.select :size, ['Small', 'Medium', 'Large'], {:include_blank => true} %>
</div>
<div class="field">
  <%= f.label :age %><br>
  <%= f.text_field :age %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :zipcode %><br>
  <%= f.text_field :zipcode %>
</div>
<div class="field">
  <%= f.label :image, value: 'Upload Image' %>
  <%= f.file_field :image, class: "fa fa-camera file_upload", id: "paperclip_upload" %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
