<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.select :breed, ['German Shephard', 'Collie', 'Corgi'], {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.select :size, ['Small', 'Medium', 'Large'], {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :personality %><br>
    <%= check_box_tag(:calm) %>
    <%= label_tag(:calm, "Calm") %>
    <%= check_box_tag(:energetic) %>
    <%= label_tag(:energetic, "Energetic") %>
    <%= check_box_tag(:kid_friendly) %>
    <%= label_tag(:kid_friendly, "Kid Friendly") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
