<h1>Dog Listing</h1>
<hr>
<div class="petlisting">
  <table>
    <thead>
      <tr>
        <th><i class="fa fa-paw"></i></th>
        <th><%= sortable "Name"%></th>
        <th><%= sortable "Breed" %></th>
        <th><%= sortable "Size" %></th>
        <th><%= sortable "Age" %></th>
        <th><%= sortable "Zipcode" %></th>
        <th colspan="3">Edit</th>
      </tr>
    </thead>

    <tbody>
      <% @pets.each do |pet| %>
      <tr>
        <td><%= link_to image_tag(pet.image.url(:large)), pet, :class => "animalimg"%></td>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.size %></td>
        <td><%= pet.age %></td>
        <td><%= pet.zipcode %></td>
        <!-- a condition that you must be logged in to edit/destroy-->
        <% if pet.user == current_user && current_user.user_type == "Owner" %>
        <td class="action">
          <%= link_to edit_pet_path(pet) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td class="action">
          <%= link_to pet, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
        <% elsif current_user.user_type == "Owner" %>
        <td class="action disabled-links"></td>
        <td class="action disabled-links"></td>
        <% elsif current_user.user_type == "Renter"%>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p id="notice"><%= notice %></p>
</div>
