<h1>Pet Listing</h1>
<hr>
<div class="petlisting">
  <table>
    <thead>
      <tr>
        <th><i class="fa fa-paw"></i></th>
        <th><%= sortable "Name"%></th>
        <th><%= sortable "Breed" %></th>
        <th><%= sortable "Size" %></th>
        <th><%= sortable "Age" %></th>
        <th><%= sortable "Zipcode" %></th>
        <!-- <th>Personality</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pets.each do |pet| %>
      <tr>
        <td><%= link_to image_tag(pet.image.url(:small)), pet.image.url %></td>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.size %></td>
        <td><%= pet.age %></td>
        <td><%= pet.zipcode %></td>
        <!-- <td><%# @pet.personality.trait %></td> -->
        <td class="action"><%= link_to 'Show', pet %></td>
        <!-- a condition that you must be logged in to edit/destroy-->
        <% if pet.user == current_user %>
        <td class="action"><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td class="action"><%= link_to 'Remove', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td class="action disabled-links">Edit</td>
        <td class="action disabled-links">Remove</td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
    <%= link_to 'New Pet', new_pet_path, :class => "btn btn-lg btn-default"%>
  <p id="notice"><%= notice %></p>
</div>
