<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pooch</title>
    <!--The link for our css called listing.css-->
    <link type="text/css" rel="stylesheet" href="listing.scss"/>
    <!--This is the link for our google font-->
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>


  <!-- This is our navbar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="#"><i class="fa fa-paw"></i> POOCH</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="#">Listings</a></li>
          <li><a href="#">Pets</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

<h1>Pet Listing</h1>
<hr>
<div class="petlisting">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Size</th>
      <th>Age</th>
      <!-- <th>Personality</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.size %></td>
        <td><%= pet.age %></td>
        <!-- <td><%# @pet.personality.trait %></td> -->
        <td class="action"><%= link_to 'Show', pet %></td>
        <td class="action"><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td class="action"><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="btn btn-lg btn-default">
  <%= link_to 'New Pet', new_pet_path %>
</div>



</body>

<p id="notice"><%= notice %></p>
