<!-- this shows a list of available dogs if you WANT a therapy pup  -->
<!-- OR shows a list of all of your dogs if you are a therapy pup owner -->

<h1 id="headingfont">Pup Listing</h1>
<% if current_user.user_type == "Pet Owner" %>
  <p id = 'listinginfo'>Below is a list of your registered therapy dogs. To add a new dog to the list, click on your username in the top right corner and select 'New Pet' from the dropdown menu.</p>
<% elsif current_user.user_type == "Pet Pal" %>
  <p id = 'listinginfo'>Below is a list of the available therapy dogs. To set up an appointment, go to the dog's profile by clicking on the dog's picture and clicking 'New Appointment'.</p>
<%end %>
<hr>
<div class="petlisting">
  <table>
    <thead>
      <tr class="listingrow">
        <th class="listingheader"><%= "POOCH" %></th>
        <th class="listingheader" id="nameheader"><%= sortable "name" %></th>
        <th class="listingheader" id="breedheader"><%= sortable "breed" %></th>
        <th class="listingheader" id="sizeheader"><%= sortable "size" %></th>
        <th class="listingheader" id="ageheader"><%= sortable "age" %></th>
        <th class="listingheader" id="zipcodeheader"><%= sortable "zipcode" %></th>
        <% if current_user.user_type == "Pet Owner" %>
          <th class="listingheader" colspan="2">Edit</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @pets.each do |pet| %>
        <tr class="listingrow">
          <td class="listingcell"><%= link_to image_tag(pet.image.url(:large)), pet, :class => "animalimg img-responsive", :id => 'show_link'%></td>
          <td class="listingcell"><%= pet.name %></td>
          <td class="listingcell"><%= pet.breed %></td>
          <td class="listingcell"><%= pet.size %></td>
          <td class="listingcell"><%= pet.age %></td>
          <td class="listingcell"><%= pet.zipcode %></td>
          <% if current_user.user_type == "Pet Owner" %>
          <td class="action listingcell">
            <%= link_to edit_pet_path(pet), :id => 'edit_link' do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </td>
          <td class="action listingcell">
            <%= link_to pet, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p id="notice"><%= notice %></p>
</div>
