<!-- This is the pet show page -->
<div class="signup-wrap">
  <div class="field">
    <p id="notice"><%= notice %></p>
    <h2>
      <%= @pet.name %>
    </h2>
  </br>
    <p>
      <strong>Breed:</strong>
      <%= @pet.breed %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @pet.size %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @pet.age %>
    </p>
    <!-- image  -->
    <p>
      <%= link_to image_tag(@pet.image.url(:large)), @pet.image.url %>
    </p>

  </div>
  <div class="link-wrap">
    <%= link_to 'New Appointment', new_pet_appointment_path(@pet), :class => "btn btn-" %></br>
    <%= link_to 'Edit', edit_pet_path(@pet) %> |
    <%= link_to 'Back', pets_path %>
  </div>
</div>
