<h2 id="headingfont">Your Profile</h2>
<hr>
<!-- This is our show profile page -->
<div class="signup-wrap">
  <div class="field">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>


    <% if @user.address.present? %>
      <p>
        <strong>Address:</strong>
        <%= @user.address %>
      </p>
    <% end %>

    <p>
      <strong>Type:</strong>
      <%= @user.user_type %>
    </p>

    <% if @user.phone_number.present? %>
      <p>
        <strong>Emergency Contact:</strong>
        <%= @user.phone_number %>
      </p>
    <% end %>

    <p>
      <%= image_tag(current_user.avatar.url(:medium)) %>
    </p>

    <div class="link-wrap">

      <%= link_to 'Edit', edit_user_registration_path, :class => "btn edit_btn" %>
    </div>
  </div>
</div>
