<h2 id="headingfont">Your Profile</h2>
<hr>
<!-- This is our show profile page -->
<div class="signup-wrap">
  <div class="field">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Type:</strong>
      <%= @user.user_type %>
    </br>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <%= image_tag(current_user.avatar.url(:medium)) %>
    </p>

    <%= link_to 'Edit', edit_user_registration_path, :class => "btn edit_btn" %>
  </div>
</div>
