<h1 id="headingfont">Show Appointment</h1>
<hr>
<div class="signup-wrap">
  <div class="field">
    <p id="notice"><%= notice %></p>
    <h2>
      <%= @appointment.pet.name %>
    </h2>
  </br>
    <p>
      <strong>Date:</strong>
      <%= @appointment.date.strftime("%B %d, %Y") %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @appointment.user.email %>
    </p>

  </div>

  <div class="link-wrap">
    <%= link_to 'Back', @appointment.pet %>
  </div>
</div>
