<h1 id="headingfont">Show Appointment</h1>
<hr>
<div class="signup-wrap">
  <div class="field">
    <p id="notice"><%= notice %></p>
    <h2>
      <%= @appointment.pet.name %>
    </h2>
  </br>
    <p>
      <strong>Date:</strong>
      <%= @appointment.date.strftime("%B %d, %Y") %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @appointment.user.email %>
    </p>

    <% if current_user.user_type == "Renter" %>
      <p>
        <strong>Dog Owner Emergency Contact:</strong>
        <%= @appointment.pet.user.phone_number %>
      </p>
    <% else %>
      <p>
        <strong>Dog Renter Emergency Contact:</strong>
        <%= @appointment.user.phone_number %>
      </p>
    <% end %>

  </div>

  <div class="edit_btn">
    <%= link_to 'Back', @appointment.pet %>
  </div>
</div>
