<!--This is a partial we are using for our header-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-paw"></i> POOCH</a>
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><a href="/pets">View Pets<span class="sr-only">(current)</span></a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbar_user_name"><%= image_tag(current_user.avatar.url(:thumb))%>       <%= current_user.email %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if current_user.user_type == "Owner" %>
            <li><%= link_to "Your Profile (Owner)", user_path(current_user.id) %></li>
            <li><a href="/pets">Pets</a></li>
            <li><a href="/pets/new">New Pet</a></li>
          <% else %>
            <li><%= link_to "Your Profile (Renter)", user_path(current_user.id) %></li>
          <% end %>
          <li><a href="/appointments">Your Appointments</a></li>
        </ul>
      </li>
          <li><a href="#">Contact</a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :id => 'Logout', :method => :delete) %></li>
        <% else %>
          <li><a href="#">Contact</a></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
